<p style="color: blue"><%= notice %></p>

<h1>Bookings</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <li><%= "Booking with #{booking.grandparent.name} from #{booking.start_date} to #{booking.end_date}"%></li>
    <li><%= "Price: $#{booking.price}"%></li>
    <li><%= "Status: #{booking.status}"%></li>
    <p>
      <%= button_to "BOOKING DETAILS", show_booking_path(booking), class: 'btn1' %>
      <% if booking.grandparent.user == current_user %>
        <%= button_to "Accept", booking_accept_path(booking), class: 'btn1', method: :patch %>
        <%= button_to "Decline", booking_decline_path(booking), class: 'btn1', method: :patch %>
      <% end %>
    </p>
  <% end %>
</div>

<div style="height:100vh">  </div>
