<p style="color: blue"><%= notice %></p>

<h1>Requests for me</h1>

<div id="bookings">
  <% @bookings.each do |booking| %>
    <li><%= "Booking with #{booking.grandparent.name} from #{booking.start_date} to #{booking.end_date}"%></li>
    <li><%= "Price: $#{booking.price}"%></li>
    <li><%= "Status: #{booking.status}"%></li>
    <p>
      <%= link_to "Show this booking", show_booking_path(booking) %>
      <% if booking.pending? %>
        <%= button_to "Accept", booking_accept_path(booking), method: :patch %>
        <%= button_to "Decline", booking_decline_path(booking), method: :patch %>
      <% end %>
    </p>
  <% end %>
</div>
<div style="height:100vh"></div>
