<div class="col-xs-12 col-auto sm-6 md-4 mb-3">
  <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), img src='app/assets/images/istockphoto-1388964325-170667a.jpg' alt="grandparent">
    <div class="card-category"> </div>
    <div class="card-description">
    <%= cl_image_tag grandparent.photo.key, class: "card-user", width: 160, height: 190 %>
      <h3 style="text-decoration: none"><%= link_to grandparent.name, grandparent %></h3>

    <%# <a href="flats/ssaunier.html" class="card-link"></a> %>
      <p>Age: <%= grandparent.age %></p>
      <p>Location: <%= grandparent.location %></p>
      <p>Daily rate: $<%= grandparent.daily_rate %></p>
      <%# <p class="rating">
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #ffb400"></i>
          <i class="fa fa-star" style="color: #cacccd"></i> %>
      </p>
    </div>
  </div>
</div>
