<%= simple_form_for(@grandparent) do |f| %>

  <div class="card2">
    <%= f.input :name %>
    <%= f.input :language %>
    <%= f.input :age %>
    <%= f.input :abilities %>
    <%= f.input :limitations %>
    <%= f.input :phone_number %>
    <%= f.input :location %>
    <%= f.input :daily_rate %>
    <%= f.button :submit, class: 'btn1' %>
  </div>

<% end %>
