<%= simple_form_for(@grandparent) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :language %>
    <%= f.input :age %>
    <%= f.input :abilities %>
    <%= f.input :contradictions %>
    <%= f.input :phone_number %>
    <%= f.input :location %>
    <%= f.input :daily_rate %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
