<div id="<%= dom_id grandparent %>">
  <p>
    <strong>Name:</strong>
    <%= grandparent.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= grandparent.age %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= grandparent.abilities %>
  </p>

  <p>
    <strong>Limitations:</strong>
    <%= grandparent.contradictions %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= grandparent.language %>
  </p>

    <p>
    <strong>Location:</strong>
    <%= grandparent.location %>
  </p>

  <p>
    <strong>Daily Rate:</strong>
    <%= grandparent.daily_rate %>
  </p>

  <% if grandparent.user == current_user %>
        <%= button_to “Edit”, edit_grandparent_path %>
        <%= button_to “Delete”, grandparent_path(@grandparent),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
      <% end %>
  
</div>
