<div id="<%= dom_id restaurant %>">
  <p>
    <strong>First Name:</strong>
    <%= grandparent.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= grandparent.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= grandparent.age %>
  </p>

  <p>
    <strong>Abilities:</strong>
    <%= grandparent.category %>
  </p>

  <p>
    <strong>Limitations:</strong>
    <%= grandparent.category %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= grandparent.available? %>
  </p>
</div>
