<h1>Edit profile page</h1>

<div class="form-inputs">
<%= simple_form_for(@grandparent) do |f| %>
    <%= f.input :name %>
    <%= f.input :language %>
    <%= f.input :age %>
    <%= f.input :abilities %>
    <%= f.input :contradictions %>
    <%= f.input :phone_number %>
    <%= f.input :location %>
    <%= f.input :daily_rate %>
    <%= f.button :submit %>
    <% end %>
  </div>
