<p style="color: blue"><%= notice %></p>

 <input type="text" class="search-bar" placeholder="Search for grandparents...">

<h1>23 grandparents near you</h1>

<div class="d-flex" >

  <div class="container" id="grandparents" >
    <div class="row">
      <% @grandparents.each do |grandparent| %>
        <%= render "shared/grandparent_card", grandparent: grandparent %>
      <% end %>
    </div>
  </div>
</div>

<<<<<<< HEAD




<%# <%= link_to "Create a grandparents", grandparents_new_path %>

<%# <%= link_to "Go back to the home page", root_path, class: "card1"  %>
=======
<p><%= link_to "Add a grandparent", grandparents_new_path %></p>

<p><%= link_to "Go back to the home page", root_path %></p>

<div style="height:100vh">  </div>
>>>>>>> d99d21b6184b171473c9c0464750337107e7b609
