
<div class="container">
  <h1><%= @grandparent.name %>'s Profile</h1>

  <div>
  <img src="https://static.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg/revision/latest?cb=20121110131754" alt="Profile pic">
  </div>

  <div class='details'>
    <strong>Talents:</strong>
    <%= @grandparent.abilities%>
  </div>

  <div class='details'>
    <strong>Limitations:</strong>
    <%= @grandparent.contradictions%>
  </div>

  <div class='details'>
    <strong>Mother tongue:</strong>
    <%= @grandparent.language %>
  </div>

  <div class='details'>
    <strong>Daily rate:</strong>
    <%= @grandparent.daily_rate %>
  </div>

  <div class='details'>
    <strong>Location:</strong>
    <%= @grandparent.location %>
  </div>
</div>

  <%= link_to "Make a booking", new_grandparent_booking_path(@grandparent) %>


<% if @grandparent.user == current_user %>
  <%= link_to "Edit", edit_grandparent_path(@grandparent)%>
  <%= link_to "Delete", grandparent_path(@grandparent),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
<% end %>


  <%= link_to "Go back to grandparents list", grandparents_path %></p>
