
<div class="container">
  <h1><%= @grandparent.name %>'s Profile</h1>

  <div>
    <%= cl_image_tag @grandparent.photo.key, class: "card-user", width: 160, height: 190 %>
  </div>

  <div class='details'>
    <strong>Talents:</strong>
    <%= @grandparent.abilities%>
  </div>

  <div class='details'>
    <strong>Limitations:</strong>
    <%= @grandparent.limitations%>
  </div>

  <div class='details'>
    <strong>Mother tongue:</strong>
    <%= @grandparent.language %>
  </div>

  <div class='details'>
    <strong>Daily rate:</strong>
    <%= @grandparent.daily_rate %>
  </div>

  <div class='details'>
    <strong>Location:</strong>
    <%= @grandparent.location %>
  </div>
</div>

<<<<<<< HEAD

<p><%= button_to 'MAKE A BOOKING', new_grandparent_booking_path(@grandparent), class: 'btn1', method: :get %></p>
=======
<% if @grandparent.user != current_user %>
<p><%= button_to 'Make a booking', new_grandparent_booking_path(@grandparent), method: :get %></p>
<% end %>
>>>>>>> 693d0f877d9c7e87bdc5a175ee8222637dea13ec

<% if @grandparent.user == current_user %>
  <p><%= button_to 'EDIT', edit_grandparent_path(@grandparent), class: "btn1", method: :get %></p>
  <p><%= button_to 'DELETE', grandparent_path(@grandparent), class: 'btn1"', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %></p>
<% end %>

<<<<<<< HEAD
<p><%= button_to 'GO BACK TO GRANDPARENTS', grandparents_path, class: 'btn1', method: :get %></p>
=======
<p><%= button_to 'Back to grandparents', grandparents_path, method: :get %></p>
<div style="height:100vh"></div>
>>>>>>> 693d0f877d9c7e87bdc5a175ee8222637dea13ec
