<div class="container">
  <h1><%= @grandparent.name %>'s Profile</h1>

  <div>
  <img url=(https://static.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg/revision/latest?cb=20121110131754) alt="Profile pic">
  </div>

  <div class='bio'>
    <strong>Bio:</strong>
    <%= %>
  </div>

  <div class='details'>
    <strong>Talents:</strong>
    <%= @grandparent.abilities%>
  </div>

  <div class='details'>
    <strong>Limitations:</strong>
    <%= @grandparent.contradictions%>
  </div>

  <div class='details'>
    <strong>Mother tongue:</strong>
    <%= @grandparent.language %>
  </div>
</div>
