<h1> <%= @grandparent.name %> </h1>
<h2> Age: </h2> <%= @grandparent.age %>
<h2> Language: </h2> <%= @grandparent.language %>
<h2> Abilities: </h2> <%= @grandparent.abilities %>
<h2> Limitations: </h2> <%= @grandparent.contradictions %>
 <%= @grandparent.phone_number %>
 <%= @grandparent.location %> 
