
<div class="container">
  <h1><%= @grandparent.name %>'s Profile</h1>

  <div>
  <img src="https://static.wikia.nocookie.net/lotr/images/e/e7/Gandalf_the_Grey.jpg/revision/latest?cb=20121110131754" alt="Profile pic">
  </div>

  <div class='details'>
    <strong>Talents:</strong>
    <%= @grandparent.abilities%>
  </div>

  <div class='details'>
    <strong>Limitations:</strong>
    <%= @grandparent.limitations%>
  </div>

  <div class='details'>
    <strong>Mother tongue:</strong>
    <%= @grandparent.language %>
  </div>

  <div class='details'>
    <strong>Daily rate:</strong>
    <%= @grandparent.daily_rate %>
  </div>

  <div class='details'>
    <strong>Location:</strong>
    <%= @grandparent.location %>
  </div>
</div>


<p><%= button_to 'MAKE A BOOKING', new_grandparent_booking_path(@grandparent), class: 'btn1', method: :get %></p>

<% if @grandparent.user == current_user %>
  <p><%= button_to 'EDIT', edit_grandparent_path(@grandparent), class: "btn1", method: :get %></p>
  <p><%= button_to 'DELETE', grandparent_path(@grandparent), class: 'btn1"', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, method: :delete %></p>
<% end %>

<p><%= button_to 'GO BACK TO GRANDPARENTS', grandparents_path, class: 'btn1', method: :get %></p>
